extends layout

block content
  h1 Welcome to Twitter API Sentimental Analysis
    form(action="/twitter" autocomplete="off" method="post")
      input(type="/twitter/ " name="keywords" placeholder="Keyword search") 
      input(type="/twitter/" name="count" placeholder="Number of queries")
      button(type="submit") Submit
    



      




  

  
    
  
  

  
      
  
